.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: linear-gradient(135deg, #fff8ee, #fff8ee);
  color: rgb(12, 11, 11);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links span {
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 6px;
}

.nav-links span:hover {
  background: rgba(255,255,255,0.2);
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 6px 10px;
  border-radius: 25px;
  width: 280px;
}

.search-icon {
  color: gray;
  margin-right: 8px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}

/* RIGHT ICONS */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* CART ICON */
.icon-btn {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BUTTON */
.login-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: white;
  color: #1f1c1c;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-btn:hover {
  background: #dd4620;
  transform: scale(1.05);
}
.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}